@import url(variables.css);

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;

}

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
    place-items: center;
    margin-top:20px;
}

.come-back{
    border-radius: 32px;
    border: 0;
    box-shadow: none;
    width: 40px;
    height: 40px;
    background-color: var(--color-8);
}

.menu{
    border-radius: 32px;
    border: 0;
    box-shadow: none;
    width: 40px;
    height: 40px;
    background-color: var(--color-8);
}

.title{
    font-family:"Encode-Sans-Semibold";
    font-size: 16px;
    color:var(--color-5);


}

main{
    margin-top:50px;
}

.lista1{
    display: grid;
    grid-template-columns: 30% 40% 10% 10% 10%;
    grid-template-rows: 1fr 1fr 1fr;


}

.model1{
    grid-column: 1/2;
    grid-row:1/4 ;
}

.name1{
    grid-column:2/3;
    grid-row: 1/2;
}

.span1{
    grid-column: 2/3;
    grid-row:2/3

}

.span2{
    grid-column: 2/3;
    grid-row: 3/4;
}

.minus{
    grid-column: 3/4;
    grid-row: 3/4;
}