@import url(variables.css);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-8)
}

main{
    display:grid;
    place-items:center;


}

h1{
    color:var(--color-5);
    font-size:64px;
    margin-top:-10%;
    font-family: "Encode-Sans-Bold";
}


button{
    border-radius: 12px;
    width: 150px;
    height: 50px;
    color:var(--color-5);
    font-family: "Encode-Sans-Regular";
    font-size: 18px;
    border:none;
    background-color: var(--color-15);
    color:var(--color-1)
}


.logo{

    width: auto;
    height: auto;


}