<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <header>
        <button class="come-back" onclick="location.href='../views/detail.html'">
            <img src="../storage/img/checkout/come-back.png">
        </button>

        <h1 class="title">checkout</h1>

        <button class="menu">
            <img src="../storage/img/checkout/menu.png">
        </button>
    </header>
    <main>
        <section class="list">
            <div class="lista1">
                <img class="model1" src="../storage/img/checkout/model1.png">
                <h3 class="name1">Modern light clothes</h3>
                <span class="span1">Dress modern</span>
                <span class="span2">$212.99</span>
                <button class="dots">
                    <img src="../storage/img/checkout/threedots.png">
                </button>
                <button class="minus">-</button>
                <span class="number">1</span>
                <button class="plus">+</button>
            </div>

        </section>









    </main>




</body>
</html>