<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <header>
        <div>
            <span>Hello, Welcome👋</span>
            <span>Esteban Chacon</span>
            <img src="../storage/img/foto-perfil.jpg">
        </div>
        <div>

        </div>
    </header>
    <nav></nav>
    <main></main>
    <footer></footer>
</body>
</html>