<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">

</head>
<body>
    <header>
        <div class="header1">
            <span class="span1">Hello, Welcome👋</span>
            <span class="span2">Esteban Chacon</span>
            <img class="imagen-perfil" src="../storage/img/foto-perfil.jpg">
        </div>
        <div class="header2">
            <button class="filter">
                <img class="filter-icon" src="../storage/img/filter.png" alt="Filter"></img>
            </button>
            <input class="search-bar"type="text" placeholder="Search clothes..">
        </div>
    </header>
    <div class="carousel">
        <button class="category active">
            <img src="../storage/img/all-items.png" alt="All Items"> All Items
        </button>
        <button class="category">
            <img src="../storage/img/dress.png" alt="Dress"> Dress
        </button>
        <button class="category">
            <img src="../storage/img/shirt.png" alt="T-Shirt"> T-Shirt
        </button>
        <button class="category">
            <img src="../storage/img/pants.png" alt="Pants"> Pants
        </button>
    </div>

    <script src="../js/home.js"></script>
    <main></main>
    <footer></footer>
</body>
</html>